﻿<div class="jumbotron">
    <img src="~/Assets/nibl_colored.png" width="100%" />
</div><div class="jumbotron">
    <h1 class="text-center">WEB API</h1>
    <h2 class="text-center">NEPAL INVESTMENT BANK LTD.</h2>
</div>